body {
    font-family: Arial;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background: white;

    padding: 30px;

    border-radius: 10px;

    width: 350px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

input,
select,
button {

    width: 100%;

    padding: 12px;

    margin-top: 15px;

    border-radius: 5px;

    border: 1px solid #ccc;

    box-sizing: border-box;
}

button {
    background: #007bff;
    color: white;

    border: none;

    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#message {
    text-align: center;
    margin-top: 15px;
    color: red;
}